<% if (!index){ %>
<section id="discussion">
  <p class="note">Talk to the reviewer about this post:</p>
  <div class="badgelist">
    <a href="mailto:strivenword@gmail.com"><%- partial('_blocks/svg_email', {size: '60'}) %></a>
    <a href="https://www.facebook.com/paullee.strivenword"><%- partial('_blocks/svg_facebook-logo', {size: '60'}) %></a>
    <a href="https://twitter.com/StrivenWord"><%- partial('_blocks/svg_twitter-logo', {size: '60'}) %></a>
  </div>
</section>
<% } %>