<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <%= // Creative commons code %>
      <% if (page.layout === 'post'){ %>
      <div id="attributions" class="cc-badge">
	      <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>
	  </div>
      <% } %>
      <%= // END Creative commons code %>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <div id="footer-closer">
        <p>soli deo gloria<p>
      </div>
    </div>
  </div>
</footer>