<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <%= // Creative commons code %>
      <% if (index) {%>
      <!-- Hey! Index! -->
      <%} else {%>
      <!-- Hey! Not index! -->
      <%}%>
      <% if (copyright) { %>
        <%- partial('_partial/post/post-attributions_footer.ejs') %>
      <% } %><%#  END is_post() %>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <div id="footer-closer">
        <p>soli deo gloria<p>
      </div>
    </div>
  </div>
</footer>