  // NEW -- the 'discussion' section puts social media icons where comments would normally appear
  #discussion
    width: 66.67%
    margin: 0 auto
    .badgelist {
      display: flex
      align-items: center
      justify-content: space-around
    }
    @media mq-mobile
      text-align: center
      width: 100%