// Putting the title and subtitle together inside a <div> wrapper with this class, so that they can be styled with a background just around the text

.wrapbox
  display: flex
  flex-direction: column
  @media mq-normal
    width: 66.67%
    margin: 0 auto
  background-color: color-wrapbox
  padding: 1rem 0